*.suo
*.sdf
*.opensdf
*.layout
*.depend
*.pro.user
*.txt.user
*.vs
*.spv
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
.metadata
.settings
/*.db
/*.opendb
/ipch
/build
/thirdparty/build
/cmake
/Debug
/Release
/api/xml
/bin
/external-deps
/doc/html
Makefile
Makefile.Debug
Makefile.Release

